@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body header {
    background: black;
    width: 100%;
    max-width: 879px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid deeppink 3px;
    box-sizing: border-box;
}

body main {
    background: #D9D9D9;
    width: 100%;
    max-width: 879px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 80px;
    margin-top: 40px;
    border: solid skyblue 3px;
}

body header h1 {
    display: table;
    flex-direction: column;
    margin: 30px auto;
    font-family: 'Roboto', serif;
    font-weight: 700;
    font-size: 56px;
    background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 25px;
    line-height: 44px;
}


body main b {
    text-align: justify;
    display: table;
    margin: 0 auto;
    font-family: 'Roboto', serif;
    font-weight: 600;
    font-size: 24px;
    text-shadow: 3px 5px silver;
 }